{% extends 'base.html.twig' %}

{% block title %}New Intervenant{% endblock %}

{% block body %}
    <h1>Create new Intervenant</h1>

    {{ include('admin_intervenant/_form.html.twig') }}

    <a href="{{ path('admin_intervenant_index') }}">back to list</a>
{% endblock %}
